<nav class="navbar sticky-top navbar-expand-lg ">
  <div class="container-fluid" style="max-width: 960px;">
    <a class="navbar-brand" href="/">PetResort</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#empNavbar" aria-controls="empNavbar"aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="empNavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navbar-ul">
        <li><a class="nav-link" id="navbar_dashboard" aria-current="page" href="/dashboard">Dashboard</a></li>
        <li><a class="nav-link" id="navbar_guest-records" href="/guest-records">Guests</a></li>
        <li><a class="nav-link" id="navbar_client-records" href="/client-records">Clients</a></li>
        <li><a class="nav-link" id="navbar_admin" aria-current="page" href="/admin" d>Admin</a></li>
      </ul>

     <% if (!currentUser) { %>
          <a class="nav-link" href="/login">Log In</a>
      <% } else { %>
          <span><%= currentUser.username %> |&nbsp;</span><a class="nav-link" href="/logout">Log Out</a>
      <% } %>

      &nbsp;

    </div>

  </div>
</nav>