<nav class="navbar sticky-top navbar-expand-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Pet Resort</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#empNavbar" aria-controls="empNavbar"aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="empNavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navbar-ul">
        <li><a class="nav-link" id="navbar_employee" aria-current="page" href="/employee">Home</a></li>
        <li><a class="nav-link" id="navbar_admin" aria-current="page" href="/admin" d>Admin</a></li>
        <li><a class="nav-link" id="navbar_guest-records" href="/guest-records">Guests</a></li>
        <li><a class="nav-link" id="navbar_client-records" href="/client-records">Clients</a></li>
      </ul>

      <button class="btn btn-outline-primary" id="loginbtn">Log In</button>
    </div>

  </div>
</nav>