  
  </div>
  <script src="/js/jquery-3.7.1.min.js"></script>
  <script src="/js/bootstrap.bundle.js"></script>
  <script crossorigin="anonymous" type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" defer></script>
  <script crossorigin="anonymous" type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" defer></script>
  <script src="/js/commonScripts.js"></script>
</body>



<footer class="footer bg-dark py-3 mt-auto text-center">
  <div class="container">
    <span class="text-muted">&copy PetResort 2023</span>
  </div>
</footer>

</html>