<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title  %></title>
    <link rel="stylesheet" href = "/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/daterangepicker.css" />
    <link rel="stylesheet" href = "/css/app.css">
</head>

<body class="d-flex flex-column vh-100">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <%- include('emp-navbar') %>

    <div class="container mt-0" style="max-width: 960px;">

    <div class="content" style="flex: 1 0 auto;">
        
        