
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetResort &bullet; Home</title>
    <link rel="stylesheet" href = "/css/bootstrap.min.css">
    <link rel="stylesheet" href = "/css/home.css">
</head>

<body class="d-flex text-center text-white bg-dark" style="display: flex; flex-direction: column;">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <%- include('partials/emp-navbar') %>
            </div>
        </header>

    <div class="content" style="flex: 1 0 auto; padding-top: 60px;">

        <div class="logo-header" >
            <img src="https://res.cloudinary.com/doawnm5zz/image/upload/v1702311294/PetResort/pr_350_x_350_px_orftew.png" class="img-fluid" alt="...">
        </div>

        <div class="d-grid gap-2 col-6 mx-auto" style="margin-top: -60px;">
                <main class="px-3 text-center">
                    <p class="lead mt-3 mb-3" style="text-shadow: 2px 2px gray;"> Employee Portal <br> 
                              
                    <!-- display any flash messages -->
                    <div class="w-50 mx-auto text-center mt-3">
                        <%-// include('./partials/flash') %>
                    </div>

                    <!-- display any toast notifications -->
                    <%- include('./partials/toast') %>
     
                </main>
        </div>

    </div> <!-- end of 'content' -->

    <footer class="footer text-center text-white-50" style="flex-shrink: 0;">
        <p><small>&copy; PetResort 2023</small></p>
    </footer>

    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>

    </body>

</html>
