<%- include('partials/header') %>

<h1 class="display-1 text-center text-primary">Pet Resort</h1>
<h2 class="display-6 text-center">boarding & grooming</h2>

<div class="d-grid gap-2 col-6 mx-auto">

    <button type="button" class="btn btn-primary" onclick = "window.location.href='/employee'">Employees</button>
    <button type="button" class="btn btn-primary" onclick = "window.location.href='/customer'">Customers</button>
</div>

<%- include('partials/footer') %>